#ET1 {
  height: 30vh;
}

.result{
  display:none; 
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.lado {
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 3vh;
  padding-left: 30%;
}

.bt {
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 9px #FF6C00;
  display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-width: thin;
    border-color: #FFF;
}

.bt:hover {
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 7px #d25800;
  display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-width: thin;
    border-color: #FFF;
}

.bt:active {
  
  box-shadow: 0 5px #d25800;
  transform: translateY(4px);
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-width: thin;
    border-color: #FFF;
}

.row{
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 5%;
  left: 46.5%;
}

.row2{
  justify-content: center;
  justify-content: space-evenly;
  top: 30%;
  left: 46.5%;
}